{% extends 'base.html' %} {% block content %}



<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class=" text-muted">{{ post.cat }}</p>
        {% if post.image %}
        <img src="{{post.image.url}}" height="250" width="350">
        {% endif %}
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments </h2>
        
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
              {% if user.is_authenticated %}
            {{ user }}
            {% endif %}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
          {% if user.is_authenticated %}
          <button type="submit" class="btn btn-primary  btn" id="reply{{comment.id}}">Reply</button>
          {% endif %}
          <form method="post" action="{% url 'comment_reply' post.slug comment.id %}" style="display:none" id="form-reply{{comment.id}}">
            {{ reply_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg" name="replySubmit">Submit</button> 
          </form>

        </div>
        
        
        {% for reply in replies %}
        {% if reply.comment_id == comment.id %}
        <div class="reply ml-5" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ user}}
            <span class=" text-muted font-weight-normal">
              {{ reply.created_on }}
            </span>
          </p>
          {{ reply.body | linebreaks }}
        </div>
        
        {% endif %}
        {% endfor %}

        {% endfor %}

      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        
        {% if new_comment %}
        {{ comment_form.as_p }}
        {% csrf_token %}
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
    
  </div>
</div>



<script> 

  const replyBtns =document.querySelectorAll('[id ^= "reply"]');
  console.log(document.querySelector('#form-reply15'))
  replyBtns.forEach(btn=> {
    btn.addEventListener('click',(e)=>{
      const replyForm = document.querySelector(`[id = "form-${btn.getAttribute('id')}"]`);
      console.log(btn.getAttribute('id'))
      replyForm.style.display = 'block';

    });
  });

  //   element.addEventListener('click', function(e) {
  //     // const form = document.querySelector(`[id $= '${comment.id}]`);
  //     console.log(e)
  //     reply.style.display = 'block'
  //   })
  // })

 </script>

{% endblock content %}